body
    background: #FFF
    line-height: 1.4
    font-family: $geo
    font-size: 16px
    color: $black
    min-width: 320px
    font-weight: 400
    +font-smoothing
    
.title
    font-family: $letterica
    // font-size: 108px
    font-size: 73px
    line-height: 1
    letter-spacing: 0.02em
    display: inline-block
    vertical-align: middle
    +md 
        font-size: 50px
    +sm 
        font-size: 36px

.title-big
    font-family: $letterica
    font-size: 78px
    letter-spacing: 0.02em
    line-height: 1
    text-transform: uppercase
    display: inline-block
    vertical-align: middle
    // +xl 
    //     font-size: 90px
    +md 
        font-size: 50px
    +sm 
        font-size: 36px

.subtitle
    display: inline-block
    vertical-align: middle
    max-width: 300px
    margin-top: -10px
    margin-left: 21px
    font-weight: 400
    // font-size: 37px
    font-size: 25px
    line-height: 1.1
    letter-spacing: -0.02em
    // +xl 
    //     font-size: 30px
    // +lg 
    //     font-size: 22px
    +sm 
        font-size: 18px
        display: block
        margin-left: 0
        margin-top: 0


.group-title
    padding: 0 10px
    font-family: $letterica
    font-size: 51px
    line-height: 1
    letter-spacing: 0.02em
    +md 
        font-size: 40px
    +sm 
        font-size: 36px

.numbers-title
    position: relative
    display: inline-block
    &__number
        display: inline-block
        vertical-align: middle
        position: absolute
        top: 3px
        left: 103%
        +circle(32)
        background-image: $mainGradient
        text-align: center
        // +xl 
        //     +circle(40)
        // +lg 
        //     +circle(32)
        //     top: -5px
        +md 
            position: static
        span
            margin-top: 2px
            display: inline-block
            vertical-align: top
            line-height: 1
            font-family: $ermilov
            font-weight: 800
            font-size: 27px
            color: $white
            

    
        
.out
    overflow: hidden