.container-inner
    max-width: 1620px
    width: 100%
    padding: 0 10px
    margin: 0 auto
    +xl 
        max-width: 1420px
    +lg 
        max-width: 1220px

.col-31
    +flex-size(31%)
    +md 
        +flex-size(100%)

.col-69
    +flex-size(69%)
    +md 
        +flex-size(100%)