---
title: Main page
---
{% import "partials/_header.html" as header %}
{% import "partials/_hero-translation.html" as translation %}
{% import "partials/_buy-ticket.html" as buy %}
{% extends "layouts/_layout.html" %}

{% block content %}
  
  {{header.header({login: true, center: true})}}
    {% include "partials/_hero-top.html" %}
    {% include "partials/_concerts.html" %}
    {% include "partials/_hero-middle.html" %}
    {% include "partials/_best.html" %}
    {% include "partials/_new.html" %}
    {% include "partials/_chanels.html" %}
    {% include "partials/_footer.html" %}
{% endblock %}