---
title: Start page
---
{% extends "layouts/_layout.html" %} 
{% block content %}

<div class="start" style="background-image: url(./img/start-bg.jpg)">
  <div class="start__logo"><img src="./img/logo.svg" alt="logo" /></div>
  <div class="start__inner">
    <div class="start__icons">
      <span class="start-icon"> {{ mixins.icon("monitor") }} </span>
      <span class="start-icon"> {{ mixins.icon("device") }} </span>
      <span class="start-icon"> {{ mixins.icon("phone") }} </span>
    </div>
  </div>
</div>

{% endblock %}
