---
title: Start page
---

{% extends "layouts/_layout.html" %} 
{% block content %}

<div class="start" style="background-image: url(./img/start-bg.jpg)">
  <div class="start__logo"><img src="./img/logo.svg" alt="logo" /></div>
  <div class="start__wrapper">
    <div class="start__inner">
      <div class="start__icons">
        <span class="start-icon"> {{ mixins.icon("monitor") }} </span>
        <span class="start-icon"> {{ mixins.icon("device") }} </span>
        <span class="start-icon"> {{ mixins.icon("phone") }} </span>
      </div>
      <h1 class="start__title">360 градусов драйва</h1>
      <div class="start__lead">
        Станьте частью первого в мире сервиса живых VR-трансляций.
      </div>
      <p>
        Смотрите самые интересные события со всего мира через телефон, компьютер
        или VR-шлем.
      </p>
      <button class="start-btn">
        <span class="start-btn__text">смотрите видео</span>
        {{ mixins.icon("start-play") }}
      </button>
    </div>
  </div>
</div>

{% endblock %}
