// colors
$white: #fff
$black: #1a1a1a
$purple: rgb(130, 0, 255)
$blue: rgb(0, 94, 255)
$darkBlue: #1a237e
$lightGrey: # #f5f5f5
// fonts 
$geo: 'Geometria', serif
$letterica: 'AGLettericaUltraCompressed-Roman', serif
$ermilov: 'Ermilov-Bold', serif

$mainGradient: linear-gradient(90deg, $purple, $blue);