<div class="concerts">
    {% for item in[
        {
            image: "hero_bottom_1.png",
            group_1: "АННА ПЛЕТНЕВА",
            group_2: "ВИНТАЖ",
            watch: "5,305",
            likes: "2,304"
            
        }, {
            image: "hero_bottom_2.jpg",
            group_1: "BOYS NOIZE",
            watch: "5,305",
            likes: "2,304",
            online: true
        }

    ] %}

        <div class="concert">
            <a href="#" class="concert__image-wrapper">
                <div class="concert__image" style="background-image: url(img/{{item.image}})"></div>
            </a>
            <div class="concert__info">
                <div class="concert__group">
                    <a href="#" class="group-title">{{item.group_1}}</a> 
                    {% if item.group_2 %}
                        <a href="#" class="group-title">{{item.group_2}}</a href="#">
                    {% endif %}
                </h3>
                {% if item.online %}
                    <div class="concert__group-online">
                        {{mixins.online()}}
                    </div>
                {% endif %}
            </div>
            <div class="concert__details">
                <div class="info-control">
                    <span class="info-control__icon">
                        {{ mixins.icon("eye") }}
                    </span>
                    <span class="info-control__text info-control__text_thin">5,305 смотрят</span>
                </div>
                {{mixins.like()}}

            </div>
        </div>
    </div>
{% endfor %}

</div>