<footer class="footer">
  <div class="footer__inner container-inner">
    <div class="footer__content">
        <div class="footer__left">
          <div class="footer__row">
            <a href="#" class="link">лучшее</a>
            <a href="#" class="link">новое</a>
          </div>
          <div class="footer__row">
            <a href="#" class="link">рекомендуемое</a>
            <a href="#" class="link">поддержка</a>
          </div>
        </div>
        <div class="footer__right">
            <ul class="links">
              {% for item in ["лейблам", "концертным площадкам", "пользовательское соглашение"] %}
              <li class="links__item">
                  <a href="" class="links__link link">{{item}}</a>
                </li>
              {% endfor %}
            </ul>
            <p class="copyright">ltd. SKY corporation, 2018  ©</p>
        </div>
    </div>
    <div class="footer__logo">
      <a href="#" class="logo logo_dark">
        <img class="logo__image" src="img/logo-dark.svg" alt="logo" />
        <div class="logo__text"><h1 class="logo__name">lookport</h1></div>
      </a>
    </div>
  </div>
  <svg height="0" width="0" id="clip-svg">
    <defs>
      <clipPath id="ticket-top">
        <path  d="M295.5,436.5c0-12.7,10.3-23,23-23c0.2,0,0.3,0,0.5,0V12c0-6.6-5.4-12-12-12H12C5.4,0,0,5.4,0,12v402 c12.7,0,23,10.3,23,23h272.5C295.5,436.8,295.5,436.7,295.5,436.5z"/>
      </clipPath>
      <clipPath id="ticket-bottom">
        <path d="M295.5,0H23c0,12.7-10.3,23-23,23v188c0,6.6,5.4,12,12,12h295c6.6,0,12-5.4,12-12V22.5c-0.2,0-0.3,0-0.5,0
        C306,22.5,295.8,12.5,295.5,0z"/>
      </clipPath>
    </defs>
  </svg>
</footer>
