{% import "partials/_mixins.html" as mixins %} 
{% macro header(props) %}
<header class="header{% if props.dark %} header_dark{% endif %} js-header">
  <div class="header__inner{% if props.center %} header__inner_center{% endif %}">
    <div class="header__logo">
      <a href="#" class="logo{% if props.dark %} logo_dark{% endif %}">
        <div class="logo__image">
          {% if props.dark %}
            <img src="img/logo-dark.svg" alt="logo" />
            <img class="logo__rotated-img" src="img/logo-dark.svg" alt="logo" />
          {% else  %}
            <img src="img/logo.svg" alt="logo" />
            <img class="logo__rotated-img" src="img/logo.svg" alt="logo" />
          {% endif %}
        </div>

        <div class="logo__text">
          <h1 class="logo__name">lookport</h1>
          <div class="logo__descr">
            VR-трансляции <br />
            лучших событий
          </div>
        </div>
      </a>
    </div>
    <div class="header__search">
      <form class="search">
        <input type="text" class="search__input" />
        <button type="button" class="search__button search__button_mob js-mob-search-open">
          {{ mixins.icon("search") }}
        </button>
        <button type="submit" class="search__button">
          {{ mixins.icon("search") }}
        </button>
        <button type="button" class="search__close js-mob-search-close">
          {{ mixins.icon("close_thin") }}
        </button>
      </form>
    </div>
    <div class="header__nav">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">
              {% if props.musicIconNotCircle %} {{ mixins.icon("music") }} {%
              else %} {{ mixins.icon("music-circle") }} {% endif %}
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link"> {{ mixins.icon("flame") }} </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link"> {{ mixins.icon("crown") }} </a>
          </li>
        </ul>
      </nav>
      {% if props.login %}
        <a href="#" class="login">
          войти
        </a>
      {% endif %}
      {% if props.user %}
      <nav class="user-info">
        <ul class="user-info__list">
          {% if not props.username %}
            <li class="user-info__item">
              <a href="#" class="user-info__name">welovetechno </a>
            </li>
          {% endif  %}
          <li class="user-info__item">
            <a href="#" class="user-info__avatar{% if props.cabinet %} user-info__avatar_colored{% endif %}">
              <img class="avatar" src="img/avatar.png" alt="avatar" />
            </a>
          </li>
        </ul>
      </nav>
      {% endif %}
    </div>
    {#
    <div class="header__toggle">
      <a href="#" class="toggle-button js-toggle">
        <span></span> <span></span> <span></span>
      </a>
    </div>
    #}
  </div>
</header>
{% endmacro %}
