<div class="hero-middle">
  {# <button type="button" class="hero-middle__close">{{ mixins.icon("close") }}</button> #}
  <div class="hero-middle__inner container-inner">
    <div class="hero-middle__text">
      <div class="col-69">
        <h3 class="hero-middle__slogan-middle">
          сделайте путешествие незабываемым
        </h3>
        <p>
          смотрится круто на компьютере? попробуйте более захватывающий опыт с
          нашим приложением для смартфонов и VR-шлемов
        </p>
      </div>
      <div class="col-31">
        <h3 class="hero-middle__slogan-big">
          <span> 360 </span> <span> градусов </span> <span> драйва </span>
        </h3>
      </div>
    </div>
  </div>
</div>
