<div class="hero-top">
  <div class="hero-top__bg" style="background-image: url(./img/hero.jpg)"></div>
  <div class="hero-top__inner container-inner">
    <div class="hero-top__content">
      <div class="hero-top__info">
        <div class="hero-info">
          <h3>НАРГИЗ</h3>
          <div class="hero-info__top">360°-трансляция</div>
          <div class="hero-info__right">{{ mixins.online() }}</div>
          <div class="hero-info__bottom">
            <div class="info-control">
              <span class="info-control__icon"> {{ mixins.icon("eye") }} </span>
              <span class="info-control__text info-control__text_thin">
                5,305 смотрят
              </span>
            </div>
            <div class="info-control">
              <span class="info-control__icon">
                {{ mixins.icon("heart") }}
              </span>
              <span class="info-control__text info-control__text_thin"
                >2,304</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="hero-top__play">
        <button class="btn-play" type="button">
          {{ mixins.icon("play_1") }}
        </button>
      </div>
      <a href="#" class="hero-top__more">
        <div>
          <span>Больше </span> <span>прямых </span> <span>эфиров </span>
        </div>
        {{ mixins.icon("arrow-right") }}
      </a>
    </div>
    <div class="hero-top__details">
      <div><span>Stadium Live, Москва</span> <span>1:23:22 в эфире</span></div>
    </div>
  </div>
</div>

<div class="groups">
  <a href="#" class="group-card">
    <div
      class="group-card__bg"
      style="background-image: url(./img/hero_small_1.jpg)"
    ></div>
    <div class="group-card__text group-title">DAFT PUNK</div>
  </a>
  <a href="#" class="group-card">
    <div
      class="group-card__bg"
      style="background-image: url(./img/hero_small_2.jpg)"
    ></div>
    <div class="group-card__text group-title">MAPFIRE ROCK</div>
  </a>
</div>
<!-- <div class="hero__play">{{ mixins.icon('play') }}</div> -->
