{% macro icon(i) %}
    <svg class="icon icon-{{i}}">
        <use xlink:href="img/sprite.svg#icon-{{i}}"></use>
    </svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
    <!-- begin breadcrumbs -->
    <ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
        {% for item in props.list %}
            {% if loop.last %}
                <li class="breadcrumbs__item">
                    <span>{{ item }}</span>
                </li>
            {% else %}
                <li class="breadcrumbs__item">
                    <a href="#">{{ item }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <!-- end breadcrumbs -->
{% endmacro %}

{# {% macro checkbox(props) %}
    <!-- begin input -->
    <label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
        <input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}" {% if props.checked %} checked{% endif %}="checked{% endif %}">
        <span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
    </label>
    <!-- end input -->
{% endmacro %} #}

{% macro online() %}
    <div class="info-control">
        <span class="info-control__icon">
            {{ icon("circle") }}
        </span>
        <span class="info-control__text">в эфире</span>
    </div>
{% endmacro %}

{% macro watch(props) %}
    <div class="info-control">
        <span class="info-control__icon {% if props.modifier %}info-control__icon_{{props.modifier}}{% endif %}">
            {{ icon("eye") }}
        </span>
        <span class="info-control__text info-control__text_thin">{{'5,305' or props.watches}}
            просмотров</span>
    </div>
{% endmacro %}

{% macro like(props) %}
    <div class="info-control">
        <span class="info-control__icon {% if props.modifier %}info-control__icon_{{props.modifier}}{% endif %}">
            {{ icon("heart") }}
        </span>
        <span class="info-control__text info-control__text_thin">{{'2,304' or props.likes}}</span>
    </div>
{% endmacro %}

{% macro block(props) %}
    <a href="#" class="block{% if props.modifier %} block_{{props.modifier}}{% endif %}" style="background-image: url(img/{{props.image}})">
        <div class="block__text">
            <h4 class="block__title">
                <span>{{props.title}}</span>
                {% if props.online %}
                    <span class="block__online">
                        {{online()}}
                    </span>
                {% endif %}
            </h4>
            <p class="block__org">
                {{props.org}}
            </p>
            <div class="block__statistics">
                {{watch({watches: props.watches})}}
                {{like({likes: props.likes})}}
                {% if props.time %}
                    <span class="block__time">
                        {{props.time}}
                        в эфире
                    </span>
                {% endif %}
            </div>
        </div>
    </a>
{% endmacro %}

{% macro ticket(props) %}
    <div class="ticket">
        <div class="ticket__top">
            <div class="ticket__image" style="background-image: url(./img/{{props.image}})"></div>
            <div class="ticket__actions">
                <button class="btn-notification is-active">
                    {{icon('ring')}}
                </button>
                <button class="btn-edit">
                    {{icon('pensil')}}
                </button>
                <button class="btn-present">
                    {{icon('present')}}
                </button>
            </div>
        </div>
        <div class="ticket__bottom{% if props.color %} ticket__bottom_{{props.color}}{% else %} ticket__bottom_blue{% endif %}">
            <img class="ticket__logo" src="img/{{props.logo}}" alt=""/>
            <div class="ticket__text">
                <h5 class="ticket__place">{{props.place}}</h5>
                <time class="ticket__time">{{props.time}}</time>
            </div>
        </div>
    </div>
{% endmacro %}

<!-- {% macro chanel(props) %} <div class="chanel" style="background-image: url(./img/{{props.image}})"> <div class="chanel__inner"> <div class="chanel__info"> <div class="chanel__logo" style="background-image: url(./img/{{props.logo}}"></div> <div class="chanel__group">{{props.group}}</div> <h3 class="chanel__name">{{props.name}}</h3> <div class="chanel__likes"> {{props.likes}} </div> </div> <div class="chanel__tags"> {% for tag in props.tags %} <a href="#" class="tag-small">#{{tag}}</a> {% endfor %} </div> </div> </div> {% endmacro %} -->

{% macro subscr(props) %}
    <div class="subscr{% if props.online %} is-online{% endif %}">
        <div class="subscr__image" style="background-image: url(./img/subscr.png"></div>
        <div class="subscr__text">
            {% if props.online %}
                <div class="subscr__online">
                    {{online()}}
                </div>
            {% endif %}
            <a href="#" class="subscr__name">{{'Carpenter Brut' or props.name}}</a>
            <div class="subscr__likes">
                {{like()}}
            </div>
            
        </div>
    </div>
{% endmacro %}