{% macro icon(i) %}
    <svg class="icon icon-{{i}}">
        <use xlink:href="img/sprite.svg#icon-{{i}}"></use>
    </svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
    <!-- begin breadcrumbs -->
    <ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
        {% for item in props.list %}
            {% if loop.last %}
                <li class="breadcrumbs__item">
                    <span>{{ item }}</span>
                </li>
            {% else %}
                <li class="breadcrumbs__item">
                    <a href="#">{{ item }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <!-- end breadcrumbs -->
{% endmacro %}

{# {% macro checkbox(props) %}
    <!-- begin input -->
    <label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
        <input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}" {% if props.checked %} checked{% endif %}="checked{% endif %}">
        <span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
    </label>
    <!-- end input -->
{% endmacro %} #}

{% macro block(props) %}
    <a href="#" class="block{% if props.modifier %} block_{{props.modifier}}{% endif %}" style="background-image: url(img/{{props.image}})">
        <div class="block__text">
            <h4 class="block__title">
                <span>{{props.title}}</span>
                {% if props.online %}
                    <span class="block__online">
                        <div class="info-control">
                            <span class="info-control__icon">
                                {{ icon("circle") }}
                            </span>
                            <span class="info-control__text">в эфире</span>
                        </div>
                    </span>
                {% endif %}
            </h4>
            <p class="block__org">
                {{props.org}}
            </p>
            <div class="block__statistics">
                <div class="info-control">
                    <span class="info-control__icon">
                        {{ icon("eye") }}
                    </span>
                    <span class="info-control__text info-control__text_thin">{{props.watches}}
                        просмотров</span>
                </div>
                <div class="info-control">
                    <span class="info-control__icon">
                        {{ icon("heart") }}
                    </span>
                    <span class="info-control__text info-control__text_thin">{{props.likes}}</span>
                </div>
            </div>
        </div>
    </a>
{% endmacro %}

{% macro ticket(props) %}
    <div class="ticket">
        <div class="ticket__top">
            <div class="ticket__image" style="background-image: url(img/{{props.image}})"></div>
        </div>
        <div class="ticket__bottom">
            <img class="ticket__logo" src="img/{{props.logo}}" alt=""/>
            <div class="ticket__text">
                <h5 class="ticket__place">{{props.place}}</h5>
                <time class="ticket__time">{{props.time}}</time>
            </div>
        </div>
    </div>
{% endmacro %}