{% import "partials/_mixins.html" as mixins %} 

{% macro modal(props) %}
  <div class="modal is-open" data-modal="first">
    <div class="modal__container container-inner" data-modal-container="data-modal-container">
      <div class="modal__left">
        {{mixins.ticket({
        image: 'gessafelstein-image.png',
        logo: 'gessafelstein-logo.png',
        place: 'stadium live',
        time: '17.11.2019'      
      })}}
      </div>
      <div class="modal__right">
        {% if props.first %}
          <div class="info info_white">
            <div class="info__text">
              <div class="info__name">GESAFFELSTEIN</div>
              <div class="info__place">aleph - stadium live</div>
            </div>
          </div>
          <div class="modal__info-descr">
            Смотрите концерт Gesaffelstein
            <br/>прямо сейчас в панорамном VR-качестве
          </div>
          <div class="cta cta_white">
            <div class="cta__top">
              <button class="cta__btn btn-cta">купить билет</button>
              <div class="cta__price">99p</div>
            </div>

            <div class="cta__text">
              это не займет больше минуты,
              <br/>
              вы ничего не пропустите
            </div>
          </div>
        {% endif %}
        {% if props.second %}
          <div class="modal-card">
            <div class="modal-card__tag modal-card__tag_left">
              шаг 1
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endmacro %}