
<div class="recommend">
    <div class="recommend__inner container-inner">
        <h2 class="title recommend__title">
            РЕКОМЕНДОВАНО ВАМ
        </h2>
    </div>
    <div class="recommend__blocks">
        {% include "partials/_blocks.html" %}
    </div>
    <div class="recommend__load-more">
        <button class="btn-load-more">
            {{mixins.icon('rotate')}}
            <span class="btn-load-more__text">больше рекомендаций</span>
            
        </button>
    </div>
</div>