<section class="subscriptions">
  <div class="subscriptions__inner container-inner">
    <div class="subscriptions__title">
      <div class="numbers-title">
        <h3 class="title-big">мои подписки</h3>
        <div class="numbers-title__number"><span>6</span></div>
      </div>
    </div>
    <div class="subscriptions__main">
        {{mixins.subscr({online: true})}}
        {{mixins.subscr({online: true})}}
        {{mixins.subscr()}}
        {{mixins.subscr()}}
        {{mixins.subscr()}}
        {{mixins.subscr()}}
        {{mixins.subscr()}}
        {{mixins.subscr()}}
    </div>
  </div>
</section>
