.block
    position: relative
    display: block
    height: 100%
    overflow: hidden
    +gpu
    backface-visibility: hidden
    &:hover
        .block__bg
            +imgScale
    &__bg
        position: absolute
        top: -0.5%
        left: -0.5%
        height: 101%
        width: 101%
        transition: transform 0.7s
        backface-visibility: hidden
        +cover
        &:after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 80px
            background-image: linear-gradient(to top, $black, transparent)
    &__text
        position: absolute
        bottom: 27px
        left: 38px
        right: 38px
        color: $white
        +sm
            left: 20px
            bottom: 20px
            right: 20px
    &__title
        font-size: 18px
        font-weight: 900
        letter-spacing: 0.01em
        margin-bottom: 4px
    &__org
        // font-size: 22px
        font-size: 15px
        font-weight: 700
        letter-spacing: -0.02em
        // +lg
        //     font-size: 18px
    &__statistics
        display: flex
        align-items: center
        flex-wrap: wrap
    .info-control
        &:first-child
            margin-right: 10px
    .icon-heart
        color: $white
    &__online
        margin-left: 18px
        display: inline-block
        +md
            width: 100%
            margin-left: 0
            margin-top: -10px
    &__time
        margin-left: auto
        font-size: 12px
        +md
            +flex-size(100%)
            margin-top: 4px

.blocks
    display: flex
    flex-direction: column
    flex-wrap: wrap
    max-height: 500px
    overflow: hidden
    +md
        max-height: inherit
        flex-direction: row
    .block
        width: 25%
        +md
            width: 50%
        +xs
            width: 100%
    .block_big
        width: 50%
        height: 500px
        +md
            height: 250px
    .block_full
        height: 500px
        +md
            height: 250px
    .block_half
        height: 250px


