.btn-cta
    padding: 5px 24px 10px 20px
    line-height: 1
    background-image: $mainGradient
    font-family: $ermilov
    font-size: 64px
    color: $white
    box-shadow : 7px 7px 5px rgba(0, 0, 0, 0.3)
    letter-spacing: -0.012em

.btn-load-more
    font-size: 0
    background-color: transparent
    color: $darkBlue
    & > *
        display: inline-block
        vertical-align: middle
    &__text
        margin-left: 10px
        font-family: $geo
        font-size: 44px
        font-weight: 700
        border-bottom: 1px solid $darkBlue
        
    .icon
        font-size: 48px
        