.concerts
    font-size: 0
    margin-bottom: 100px
    +lg
        margin-bottom: 50px
    +sm
        margin-bottom: 10px

.concert
    display: inline-block
    vertical-align: top
    width: 50%
    color: $black
    +sm
        width: 100%
    &__image-wrapper
        display: block
        position: relative
        padding-bottom: 45%
        overflow: hidden
        +gpu
        &:hover
            .concert__image
                +imgScale
    &__image
        +coverdiv
        +cover
        transition: transform 0.7s
        backface-visibility: hidden
    &__info
        padding: 28px 50px
        display: flex
        flex-wrap: wrap
        +md
            padding: 10px
    &__group
        +flex-size(64%)
        position: relative
        +lg
            +flex-size(100%)
        .group-title
            padding: 0 10px 0 0
            vertical-align: middle
    &__group-online
        display: inline-block
        vertical-align: middle
        margin-left: 10px
    &__details
        +flex-size(36%)
        // line-height: 62px
        margin-top: 20px
        +lg
            +flex-size(100%)
            margin-top: 16px
        +lg
            line-height: 1
        .info-control
            margin-bottom: 8px
            &:not(:last-child)
                margin-right: 18px