.footer
    position: relative
    padding: 90px 0 120px
    background-color: $lightGrey
    +lg
        padding-bottom: 40px
        padding-top: 40px
    +sm 
        padding-top: 90px
    &__logo
        +vcenter
        +md
            top: 40px
            left: 50%
            transform: translateX(-50%)
        +sm
            top: 20px
            left: 10px
            transform: none
    &__content
        display: flex
        align-items: center
        flex-wrap: wrap
        +md 
            align-items: flex-start
        +sm
            text-align: left
    &__left
        +flex-size(69%)
        +sm 
            +flex-size(100%)
            margin-bottom: 20px
    &__right
        +flex-size(31%)
        +sm 
            +flex-size(100%)
    &__row
        &:not(:last-child)
            margin-bottom: 40px
            +lg 
                margin-bottom: 0
        .link:first-child
            margin-right: 50px
            +lg 
                margin-right: 0
        +lg 
            .link
                display: block
    .links
        margin-bottom: 13px

// .links
//     &__item
//         line-height: 1
//         margin-bottom: 5px

.link
    font-weight: 700
    font-size: 30px
    letter-spacing: -0.03em
    line-height: 1
        margin-bottom: 5px
    +lg 
        font-size: 22px

.copyright
    font-size: 30px
    color: $grey
    +lg 
        font-size: 20px

#clip-svg
    position: absolute
    bottom: 0
    left: 0