.footer
    position: relative
    padding: 67px 0 67px
    background-color: $lightGrey
    border-radius: 10px
    &__inner
        position: relative
    +md
        padding: 40px 0
    +sm 
        padding-top: 90px
    &__logo
        +vcenter
        +md
            top: 40px
            left: 50%
            transform: translateX(-50%)
        +sm
            top: -60px
            left: 8.333%
            transform: none
    &__content
        display: flex
        align-items: center
        flex-wrap: wrap
        +md 
            align-items: flex-start
        +sm
            text-align: left
    &__left
        +flex-size(69%)
        +xs 
            +flex-size(100%)
            margin-bottom: 20px
    &__right
        +flex-size(31%)
        +xs
            +flex-size(100%)
    &__row
        &:not(:last-child)
            margin-bottom: 14px
            +lg 
                margin-bottom: 0
        .link:first-child
            margin-right: 40px
            +md 
                margin-right: 0
        +lg 
            .outer-link
                display: block
    .links
        margin-bottom: 13px

.link
    position: relative
    display: inline-block
    padding-bottom: 3px
    font-weight: 700
    font-size: 17px
    letter-spacing: -0.03em
    line-height: 1
    margin-bottom: 5px
    transition: color 0.2s
    overflow: hidden
    &:hover:after
        transform: translateX(0)
    &:after
        content: ''
        position: absolute
        left: 0
        bottom: 0
        height: 1px
        width: 100%
        transform: translateX(-100%)
        background-color: $black
        transition: transform $tr

.copyright
    font-size: 21px
    color: $grey

#clip-svg
    position: absolute
    bottom: 0
    left: 0