.hero-middle
    height: 56vw
    min-height: 1080px
    background-image: url(../img/hero-middle.png), $mainGradient
    background-position: 0 100%, 0 0
    background-repeat: no-repeat
    position: relative
    background-size: contain
    +lg 
        min-height: 700px
    +md 
        min-height: 650px
    +sm 
        min-height: 500px
    &__close
        display: inline-block
        background-color: transparent
        position: absolute
        top: 46px
        right: 30px
        font-size: 34px
        +lg 
            font-size: 20px
            top: 20px
            right: 10px
    &__text
        display: flex
        flex-wrap: wrap
        padding-top: 70px
        +lg 
            padding-top: 40px
    &__slogan-middle
        font-family: $ermilov
        font-size: 44px
        letter-spacing: -0.05em
        line-height: 1
        max-width: 70%
        +md 
            font-size: 36px
        +sm 
            font-size: 24px
    &__slogan-big
        font-family: $ermilov
        line-height: 1
        font-size: 61px
        color: $white
        text-align: right
        letter-spacing: -0.04em
        margin-top: 14px
        +lg 
            font-size: 55px
        +md 
            font-size: 40px
            text-align: left
            margin-bottom: 16px
        +sm 
            font-size: 36px
    p 
        margin-top: 26px
        max-width: 80%
        font-size: 24px
        // letter-spacing: -0.03em
        line-height: 1.07
        color: $white
        +md     
            font-size: 18px
    .col-31
        +md
            order: 1
    .col-69
        +md
            order: 2