.hero-middle
    height: 56vh
    min-height: 1080px
    background-image: url(../img/hero-middle.png), $mainGradient
    background-position: 0 100%, 0 0
    background-repeat: no-repeat
    position: relative
    background-size: contain
    +lg 
        min-height: 800px
    +md 
        min-height: 600px
    +sm 
        min-height: 60vh
    &__close
        position: absolute
        top: 46px
        right: 30px
        font-size: 34px
    &__text
        display: flex
        flex-wrap: wrap
        padding-top: 104px
        +lg 
            padding-top: 40px
    &__slogan-middle
        max-width: 840px
        font-family: $ermilov
        font-size: 68px
        letter-spacing: -0.09em
        line-height: 1
        +xl 
            font-size: 60px
        +lg 
            font-size: 40px
        +md 
            font-size: 36px
        +sm 
            font-size: 24px
    &__slogan-big
        font-family: $ermilov
        line-height: 1
        font-size: 104px
        color: $white
        text-align: right
        letter-spacing: -0.04em
        margin-top: 14px
        +xl 
            font-size: 80px
        +lg 
            font-size: 60px
        +md 
            font-size: 40px
            text-align: left
        +sm 
            font-size: 36px
    p 
        margin-top: 26px
        max-width: 840px
        font-size: 38px
        letter-spacing: -0.03em
        line-height: 1.07
        color: $white
        +lg
            font-size: 24px
        +sm     
            font-size: 18px
    .col-31
        +md
            order: 1
    .col-69
        +md
            order: 2