.info
    color: $black
    +clr
    &_white
        color: $white
    &__logo
        float: left
        padding-right: 30px
        margin-top: 14px
        img
            max-width: 100%
    &__text
        float: left
    &__name
        font-family: $letterica
        // font-size: 166px
        font-size: 94px
        line-height: 1
        letter-spacing: 0.02em
        // &_v1
        //     font-size: 94px
        // +xl
        //     font-size: 120px
        +md
            font-size: 70px
        +sm
            font-size: 56px
    &__place
        font-family: $ermilov
        font-weight: 800
        margin-top: -10px
        letter-spacing: -0.06em
        font-size: 27px
        // +lg
        //     font-size: 32px
        +sm
            font-size: 20px
            margin-top: 0
    &__statistics
        margin-top: -4px
    .info-control
        &:not(:last-child)
            margin-right: 20px
            +md
                margin-right: 10px

.info-control
    font-size: 0
    display: inline-block
    vertical-align: middle
    span
        display: inline-block
        vertical-align: middle
    &__text
        font-weight: 800
        // font-size: 18px
        font-size: 12px
        line-height: 1.2
        &_thin
            font-weight: 700
            +md
                font-size: 14px
            +sm
                font-size: 12px
    &__icon
        display: inline-block
        vertical-align: middle
        margin-bottom: 1px
        font-size: 0
        line-height: 1
    &__like
        background-color: transparent
        font-family: $geo
        line-height: 1.4
        font-size: 0
        &.is-liked
            .icon
                color: $red
    .icon-circle
        margin-right: 6px
        +circle(12)
        background-color: $red
        display: inline-block
        animation: heartbeat 1.5s ease-in-out infinite both
        // +md
        //     font-size: 12px
    .icon-heart
        // font-size: 22px
        font-size: 15px
        margin-right: 10px
        margin-left: 1px
        // +md
        //     font-size: 14px
    .icon-eye
        // font-size: 14px
        font-size: 12px
        margin-right: 9px
        // +md
        //     font-size: 10px

@keyframes heartbeat
    50%
        transform: scale(0)
        opacity: 0.3
        // transform-origin: center center
//   from
//     transform: scale(1)
//     transform-origin: center center
//     animation-timing-function: ease-out

//   10%
//     transform: scale(0.91)
//     animation-timing-function: ease-in

//   17%
//     transform: scale(0.98)
//     animation-timing-function: ease-out

//   33%
//     transform: scale(0.87)
//     animation-timing-function: ease-in

//   45%
//     transform: scale(1)
//     animation-timing-function: ease-out
