.info
    color: $black
    +clr
    &_white
        color: $white
    &__logo
        float: left
        font-size: 166px
        line-height: 1
        padding-right: 30px
        img 
            max-width: 100% 
    &__text
        float: left
    &__name
        font-family: $letterica
        font-size: 166px
        line-height: 1
        letter-spacing: 0.02em
    &__place
        font-family: $ermilov
        font-size: 48px
        margin-top: -20px
        letter-spacing: -0.06em
    &__statistics
        margin-top: -4px
    .info-control
        &:not(:last-child)
            margin-right: 20px
    
.info-control
    font-size: 0
    display: inline-block
    vertical-align: middle
    span 
        display: inline-block
        vertical-align: middle
    &__text
        font-weight: 800
        font-size: 18px
        line-height: 1.2
        &_thin
            font-weight: 700
    &__icon
        // padding-right: 10px
    .icon-circle
        color: red
        font-size: 20px
        margin-right: 6px
    .icon-heart
        font-size: 22px
        margin-right: 12px
    .icon-eye
        font-size: 14px
        margin-right: 13px