.recommend
    padding-top: 96px
    &__blocks
        display: flex
        flex-direction: column
        flex-wrap: wrap
        max-height: 624px
        margin-top: 46px
        .block
            width: 25%
        .block_full
            height: 624px
         
        .block_half
            height: 312px
    &__load-more
        padding: 40px 0 100px
        text-align: center
