.recommend
    padding-top: 96px
    +lg
        padding-top: 48px
    +sm
        padding-top: 32px
    &__blocks
        margin-top: 46px
    &__load-more
        padding: 40px 0 100px
        text-align: center
        +md
            padding: 40px 0



