.best-section
    &__title
        margin: 120px auto 42px
        +xl
            margin-top: 80px
        +lg 
            margin: 40px auto

.new-section
    margin-top: 82px
    +lg
        margin-top: 40px
    &__title
        margin-bottom: 50px
        +lg 
            margin-bottom: 40px
    
.likes
    padding-bottom: 120px
    +lg 
        left: 100px
    +md 
        padding-bottom: 40px
    &__title
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        margin-bottom: 85px
        +lg 
            margin-bottom: 30px
        .link-cta
            margin-top: -20px
            +lg 
                margin-top: 6px
            +xs 
                margin-left: -10px
                width: 100%
                justify-content: flex-start
    
    