.subscr
    display: inline-flex
    align-items: stretch
    &__image
        +circle(104)
        +cover
        +flex-size(104px)
        +lg 
            +circle(80)
            +flex-size(80px)
    &__text
        +flex-size(calc(100% - 104px))
        position: relative
        padding: 24px 0
        display: flex
        // flex-direction: column

        align-items: center
        flex-wrap: wrap
        margin-left: 16px
    &__name
        display: block
        // position: relative
        // padding: 20px 0
        // margin-top: auto
        overflow: hidden
        font-size: 37px
        font-weight: 700
        letter-spacing: -0.02em
        color: $darkBlue
        transition: color $tr
        +xl 
            font-size: 30px
        +lg 
            font-size: 22px
        +sm 
            font-size: 18px
        // &:after
        //     content: ''
        //     position: absolute
        //     bottom: 3px
        //     left: 0
        //     width: 100%
        //     height: 2px
        //     background-color: $darkBlue
        //     transform: translateX(-100%)
        //     transition: transform $tr
        +hover 
            color: lighten($darkBlue, 20%)
        //     &:after
        //         transform: translateX(0)
                // transform-origin: 100% 0
        .is-online &
            color: $red
    &__online,
    &__likes
        position: absolute
        left: 0
    &__online
        top: 0
    &__likes
        bottom: 0

.subscriptions
    margin-bottom: 257px
    +lg 
        margin-bottom: 100px
    +md 
        margin-bottom: 40px
    &__title
        margin-bottom: 102px
        +lg 
           margin-bottom: 50px 
    &__main
        // display: flex
        // flex-wrap: wrap
        margin: 0 -20px
        .subscr
            // +flex-size(640px)
            // +flex-size(40%)
            width: 40%
            padding: 0 20px
            margin-bottom: 76px
            +lg 
                margin-bottom: 32px
            +sm 
                +flex-size(100%)