.ticket
	height: 446px
	width: 215px
	color: $white
	// +lg
	// 	height: 528px
	// 	width: 255px
	+hover
		.btn-notification,
		.btn-edit,
		.btn-present
			+fadein
			transform: translateX(0)
		.ticket__bottom
			&:before
				+fadein
	&__top
		position: relative
		height: 65.5%
	&__image
		+cover
		+coverdiv
		clip-path: polygon(197.99px 294.20px, 198.49px 290.23px, 200.00px 286.53px, 202.40px 283.34px, 205.53px 280.87px, 209.18px 279.29px, 213.11px 278.70px, 213.73px 275.31px, 213.73px 271.30px, 213.73px 267.29px, 213.73px 263.28px, 213.73px 259.26px, 213.73px 255.25px, 213.73px 251.24px, 213.73px 247.23px, 213.73px 243.22px, 213.73px 239.21px, 213.73px 235.20px, 213.73px 231.18px, 213.73px 227.17px, 213.73px 223.16px, 213.73px 219.15px, 213.73px 215.14px, 213.73px 211.13px, 213.73px 207.12px, 213.73px 203.10px, 213.73px 199.09px, 213.73px 195.08px, 213.73px 191.07px, 213.73px 187.06px, 213.73px 183.05px, 213.73px 179.04px, 213.73px 175.03px, 213.73px 171.01px, 213.73px 167.00px, 213.73px 162.99px, 213.73px 158.98px, 213.73px 154.97px, 213.73px 150.96px, 213.73px 146.95px, 213.73px 142.93px, 213.73px 138.92px, 213.73px 134.91px, 213.73px 130.90px, 213.73px 126.89px, 213.73px 122.88px, 213.73px 118.87px, 213.73px 114.85px, 213.73px 110.84px, 213.73px 106.83px, 213.73px 102.82px, 213.73px 98.81px, 213.73px 94.80px, 213.73px 90.79px, 213.73px 86.78px, 213.73px 82.76px, 213.73px 78.75px, 213.73px 74.74px, 213.73px 70.73px, 213.73px 66.72px, 213.73px 62.71px, 213.73px 58.70px, 213.73px 54.68px, 213.73px 50.67px, 213.73px 46.66px, 213.73px 42.65px, 213.73px 38.64px, 213.73px 34.63px, 213.73px 30.62px, 213.73px 26.60px, 213.73px 22.59px, 213.73px 18.58px, 213.73px 14.57px, 213.73px 10.56px, 213.58px 6.56px, 211.90px 2.97px, 208.73px 0.60px, 204.82px 0.00px, 200.83px 0.00px, 196.84px 0.00px, 192.86px 0.00px, 188.87px 0.00px, 184.88px 0.00px, 180.89px 0.00px, 176.91px 0.00px, 172.92px 0.00px, 168.93px 0.00px, 164.94px 0.00px, 160.96px 0.00px, 156.97px 0.00px, 152.98px 0.00px, 148.99px 0.00px, 145.01px 0.00px, 141.02px 0.00px, 137.03px 0.00px, 133.04px 0.00px, 129.06px 0.00px, 125.07px 0.00px, 121.08px 0.00px, 117.09px 0.00px, 113.11px 0.00px, 109.12px 0.00px, 105.13px 0.00px, 101.14px 0.00px, 97.16px 0.00px, 93.17px 0.00px, 89.18px 0.00px, 85.19px 0.00px, 81.20px 0.00px, 77.22px 0.00px, 73.23px 0.00px, 69.24px 0.00px, 65.25px 0.00px, 61.27px 0.00px, 57.28px 0.00px, 53.29px 0.00px, 49.30px 0.00px, 45.32px 0.00px, 41.33px 0.00px, 37.34px 0.00px, 33.35px 0.00px, 29.37px 0.00px, 25.38px 0.00px, 21.39px 0.00px, 17.40px 0.00px, 13.42px 0.00px, 9.43px 0.00px, 5.49px 0.42px, 2.17px 2.57px, 0.26px 6.05px, 0.00px 10.04px, 0.00px 14.05px, 0.00px 18.06px, 0.00px 22.07px, 0.00px 26.08px, 0.00px 30.10px, 0.00px 34.11px, 0.00px 38.12px, 0.00px 42.13px, 0.00px 46.14px, 0.00px 50.15px, 0.00px 54.16px, 0.00px 58.17px, 0.00px 62.19px, 0.00px 66.20px, 0.00px 70.21px, 0.00px 74.22px, 0.00px 78.23px, 0.00px 82.24px, 0.00px 86.25px, 0.00px 90.27px, 0.00px 94.28px, 0.00px 98.29px, 0.00px 102.30px, 0.00px 106.31px, 0.00px 110.32px, 0.00px 114.33px, 0.00px 118.35px, 0.00px 122.36px, 0.00px 126.37px, 0.00px 130.38px, 0.00px 134.39px, 0.00px 138.40px, 0.00px 142.41px, 0.00px 146.42px, 0.00px 150.44px, 0.00px 154.45px, 0.00px 158.46px, 0.00px 162.47px, 0.00px 166.48px, 0.00px 170.49px, 0.00px 174.50px, 0.00px 178.52px, 0.00px 182.53px, 0.00px 186.54px, 0.00px 190.55px, 0.00px 194.56px, 0.00px 198.57px, 0.00px 202.58px, 0.00px 206.60px, 0.00px 210.61px, 0.00px 214.62px, 0.00px 218.63px, 0.00px 222.64px, 0.00px 226.65px, 0.00px 230.66px, 0.00px 234.67px, 0.00px 238.69px, 0.00px 242.70px, 0.00px 246.71px, 0.00px 250.72px, 0.00px 254.73px, 0.00px 258.74px, 0.00px 262.75px, 0.00px 266.77px, 0.00px 270.78px, 0.00px 274.79px, 0.00px 278.80px, 3.72px 279.49px, 7.42px 280.95px, 10.63px 283.31px, 13.13px 286.42px, 14.76px 290.07px, 15.40px 294.02px, 18.88px 294.54px, 22.87px 294.54px, 26.85px 294.54px, 30.84px 294.54px, 34.83px 294.54px, 38.82px 294.54px, 42.81px 294.54px, 46.79px 294.54px, 50.78px 294.54px, 54.77px 294.54px, 58.76px 294.54px, 62.74px 294.54px, 66.73px 294.54px, 70.72px 294.54px, 74.71px 294.54px, 78.69px 294.54px, 82.68px 294.54px, 86.67px 294.54px, 90.66px 294.54px, 94.64px 294.54px, 98.63px 294.54px, 102.62px 294.54px, 106.61px 294.54px, 110.59px 294.54px, 114.58px 294.54px, 118.57px 294.54px, 122.56px 294.54px, 126.54px 294.54px, 130.53px 294.54px, 134.52px 294.54px, 138.51px 294.54px, 142.49px 294.54px, 146.48px 294.54px, 150.47px 294.54px, 154.46px 294.54px, 158.44px 294.54px, 162.43px 294.54px, 166.42px 294.54px, 170.41px 294.54px, 174.39px 294.54px, 178.38px 294.54px, 182.37px 294.54px, 186.36px 294.54px, 190.34px 294.54px, 194.33px 294.54px, 197.99px 294.20px)
		clip-path: url(#ticket-top)
		// +lg 
		// 	clip-path: url(#ticket-top-lg)
	&__actions
		position: absolute
		top: 0
		left: 100%
		padding-left: 12px
		padding-top: 12px
		text-align: center
		+lg 
			padding-left: 6px
		& > *
			display: inline-block
			opacity: 0
			visibility: hidden
			transition: opacity 0.35s, visibility 0.35s, transform 0.45s
			transform: translateX(-60%)
			&:not(:last-child)
				margin-bottom: 12px
		.btn-edit
			transition-delay: 0.15s
		.btn-present
			transition-delay: 0.3s
	&__bottom	
		position: relative
		height: 34.1%
		backface-visibility: hidden
		box-shadow: 7px 7px 5px rgba(#000, 0.65)
		position: relative
		clip-path: polygon(199.5px 0,16.66px 0,15.41px 1.69px,14.84px 4.49px,13.76px 7.13px,12.22px 9.53px,10.26px 11.61px,7.96px 13.29px,5.39px 14.53px,2.64px 15.28px,0 15.71px,0 18.56px,0 21.42px,0 24.28px,0 27.13px,0 29.99px,0 32.85px,0 35.7px,0 38.56px,0 41.42px,0 44.28px,0 47.13px,0 49.99px,0 52.85px,0 55.7px,0 58.56px,0 61.42px,0 64.27px,0 67.13px,0 69.99px,0 72.84px,0 75.7px,0 78.56px,0 81.41px,0 84.27px,0 87.13px,0 89.99px,0 92.84px,0 95.7px,0 98.56px,0 101.41px,0 104.27px,0 107.13px,0 109.98px,0 112.84px,0 115.7px,0 118.55px,0 121.41px,0 124.27px,0 127.12px,0 129.98px,0 132.84px,0 135.7px,0 138.55px,0 141.41px,.21px 144.25px,1.33px 146.86px,3.28px 148.93px,5.83px 150.18px,8.66px 150.5px,11.51px 150.5px,14.37px 150.5px,17.23px 150.5px,20.08px 150.5px,22.94px 150.5px,25.8px 150.5px,28.66px 150.5px,31.51px 150.5px,34.37px 150.5px,37.23px 150.5px,40.08px 150.5px,42.94px 150.5px,45.8px 150.5px,48.65px 150.5px,51.51px 150.5px,54.37px 150.5px,57.22px 150.5px,60.08px 150.5px,62.94px 150.5px,65.79px 150.5px,68.65px 150.5px,71.51px 150.5px,74.37px 150.5px,77.22px 150.5px,80.08px 150.5px,82.94px 150.5px,85.79px 150.5px,88.65px 150.5px,91.51px 150.5px,94.36px 150.5px,97.22px 150.5px,100.08px 150.5px,102.93px 150.5px,105.79px 150.5px,108.65px 150.5px,111.5px 150.5px,114.36px 150.5px,117.22px 152.5px,120.08px 150.5px,122.93px 150.5px,125.79px 150.5px,128.65px 150.5px,131.5px 150.5px,134.36px 150.5px,137.22px 150.5px,140.07px 150.5px,142.93px 150.5px,145.79px 150.5px,148.64px 150.5px,151.5px 150.5px,154.36px 150.5px,157.22px 150.5px,160.07px 150.5px,162.93px 150.5px,165.79px 150.5px,168.64px 150.5px,171.5px 150.5px,174.36px 150.5px,177.21px 150.5px,180.07px 150.5px,182.93px 150.5px,185.78px 150.5px,190.64px 150.5px,191.5px 150.5px,194.35px 150.5px,197.21px 150.5px,200.07px 150.5px,202.93px 150.5px,205.78px 150.5px,208.63px 150.38px,211.3px 149.4px,213.46px 147.56px,214.85px 145.08px,215.3px 142.27px,215.3px 139.41px,215.3px 136.56px,215.3px 133.7px,215.3px 130.84px,215.3px 127.99px,215.3px 125.13px,215.3px 122.27px,215.3px 119.42px,215.3px 116.56px,215.3px 113.7px,215.3px 110.84px,215.3px 107.99px,215.3px 105.13px,215.3px 102.27px,215.3px 99.42px,215.3px 96.56px,215.3px 93.7px,215.3px 90.85px,215.3px 87.99px,215.3px 85.13px,215.3px 82.28px,215.3px 79.42px,215.3px 76.56px,215.3px 73.71px,215.3px 70.85px,215.3px 67.99px,215.3px 65.13px,215.3px 62.28px,215.3px 59.42px,215.3px 56.56px,215.3px 53.71px,215.3px 50.85px,215.3px 47.99px,215.3px 45.14px,215.3px 42.28px,215.3px 39.42px,215.3px 36.57px,215.3px 33.71px,215.3px 30.85px,215.3px 27.99px,215.3px 25.14px,215.3px 22.28px,215.3px 19.42px,215.3px 16.57px,214.71px 15.16px,210.8px 14.68px,208.02px 13.69px,205.87px 12.23px,203.74px 10.34px,201.98px 8.09px,200.16px 5.56px,199.13px 2.83px, 198.5px 0px)
		clip-path: url(#ticket-bottom)
		&:after, 
		&:before
			+coverdiv
			content: ''
			z-index: -2
		&:before
			+fadeout($tr)
			z-index: -1
		// +lg 
		// 	clip-path: url(#ticket-bottom-lg)
		&_blue
			&:after
				background-image: $blueGradient
			&:before
				background-image: $blueGradientReversed
		&_orange
			&:after
				background-image: $orangeGradient
			&:before
				background-image: $orangeGradientReversed
		&_red
			&:after
				background-image: $redGradient
			&:before
				background-image: $redGradientReversed
	&__text
		// position: absolute
		// bottom: 17px
		// left: 30px
		padding: 0 10px 5px 20px
		text-align: left
		font-weight: 700
		+lg 
			padding: 0 10px 10px
	&__logo-wrapper
		height: 110px
		padding: 0 16px
		+vertical
		position: relative
	&__logo
		vertical-align: middle
		max-width: 100%
	&__place
		font-family: $ermilov
		font-weight: 800
		font-size: 13px
		letter-spacing: -0.04em
		line-height: 1
	&__time
		font-size: 12px
		letter-spacing: -0.025em 
	&__pass
		font-size: 11px
		font-weight: 400
		color: $white
		display: block
		position: absolute
		bottom: 5px
		left: 50%
		transform: translateX(-50%)


.tickets
		padding-top: 218px
		margin-bottom: 86px
		+lg 
			padding-top: 150px
			margin-bottom: 50px
		+sm 
			padding-top: 110px
			margin-bottom: 20px
		&__title
				margin-bottom: 40px
		&__main,
		&__secondary
				display: flex
				flex-wrap: wrap
				// padding-right: 200px
				margin-top: 30px
				position: relative
				+lg 
					padding-right: 140px
				+sm 
					padding-right: 0
					flex-direction: column
					// align-items: center
				.ticket
						position: relative
						z-index: 3
						margin-bottom: 32px
						&:not(:last-child)
								margin-right: 10%
								// +xl 
								// 		margin-right: 70px
								// +lg 
								// 		margin-right: 50px
								+sm 
										margin-right: 0

		&__secondary
				max-height: 0
				overflow: hidden
				transition: max-height 1s
				&.is-active 
						max-height: 1000px
		&__cta
				position: absolute
				right: -172px
				top: 223px
				transform: translateY(-56%)
				+xl 
					right: -70px
				+lg 
					right: -15px
					top: 254px
				+xs
					position: static
					margin-top: 100px