.icon-arrow-right {
  width: 0.29em;
  height: 1em;
  fill: currentColor;
}
.icon-card-fb {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-card-vk {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-circle {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-crown {
  width: 1.15em;
  height: 1em;
  fill: currentColor;
}
.icon-eye {
  width: 1.6em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-flame {
  width: 0.8em;
  height: 1em;
  fill: currentColor;
}
.icon-heart {
  width: 1.13em;
  height: 1em;
  fill: currentColor;
}
.icon-music-circle {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-music {
  width: 1.67em;
  height: 1em;
  fill: currentColor;
}
.icon-play {
  width: 0.87em;
  height: 1em;
  fill: currentColor;
}
.icon-play_1 {
  width: 0.87em;
  height: 1em;
  fill: currentColor;
}
.icon-rotate {
  width: 0.99em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 0.95em;
  height: 1em;
  fill: currentColor;
}
.icon-ticket_bottom {
  width: 1.43em;
  height: 1em;
  fill: currentColor;
}
.icon-ticket_top {
  width: 0.73em;
  height: 1em;
  fill: currentColor;
}
